/* Write your CSS here */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-color: #ffd569;
  min-height: 100vh;
  max-width: 50%;
  background-size: cover;
  padding: 40px;
}

.card-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #000000;
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 600;
  margin-bottom: 20px;
}

.count-color {
  color: #ffd569;
  font-size: 40px;
}

.fruit-image {
  height: 250px;
  width: 250px;
  margin: 10px;
}

.fruit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.fruit-button {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 8px;
  border-width: 0px;
  height: 45px;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .bg-container {
    min-width: 100%;
    height: 100vh;
  }

  .img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
